- if bing_results.respond_to?(:count) && bing_results.count != 0
  #bing_results_wrapper
    .text
      = t(:bing_results, :scope => [:questions, :responding_helpers])
    #bing_results
      - bing_results.each do |bing_result|
        = render(:partial => 'bing_result', :object => bing_result)
