#question_responding_helper
  - case question_responding_helper
  - when :google_search_link
    #google_search_link_wrapper
      .text
        = t(:search_on_google, :scope => [:questions, :responding_helpers])
      = link_to_google_search(question.title)
  - when :bing_results
    = render(:partial => 'bing_results', :object => bing_results)
