*~
.DS_Store
*.orig
coverage
config/*.yml
data/*.dat
config/database.yml
config/deploy.rb
base_packaged.*
landing_packaged.*
.directory
.bundle
data/
log/
tmp/**/*
dump
*.swp
*~
vendor/cache
public/stylesheets/compiled
public/assets
.rvmrc
.sass-cache
