- message = local_assigns[:message]
- if message.blank?
  - count = local_assigns[:count] || local_assigns[:commentable].comments.count
  - message = t("comments.count", :count => count)
.ccontrol
  %a{:href => "", :class => "ccontrol-link"}
    = message
