- if ab_test(:sign_in_with_facebook) == :regular_signup
  #title
    %h3  #{ t('layouts.application.signup') }
  = render :partial => 'users/signup_form'
- else
  .facebook-signup
    %a.fb_button.fb_button_large{:href => "/auth/facebook"}
      %span.fb_button_text= t('.sign_up_with_facebook')

    .field.agree
      = t(:agree, :scope => 'users.new', :privacy => privacy_path, :tos => tos_path)
