.facebook-signup
  %a.fb_button.fb_button_large{:href => "/auth/facebook"}
    %span.fb_button_text= t('.sign_up_with_facebook')

  .field.agree
    = t(:agree, :scope => 'users.new', :privacy => privacy_path, :tos => tos_path)
