- if Rails.env.production? && (!current_user || current_user && current_user.tracked?)
  - if AppConfig.analytics_id && AppConfig.googlean_domain
    = googlean_script(AppConfig.analytics_id, AppConfig.googlean_domain)

  ~ AppConfig.analytics_javascripts
