%ul.items#external_accounts
  = render :state => :facebook
  = render :state => :twitter

%p{:style => 'margin-top: 10px'}=t('signup_wizard.connect_profiles.title')

%ul
  %li=t('signup_wizard.connect_profiles.import_profile_picture')
  %li=t('signup_wizard.connect_profiles.find_friends')
  %li=t('signup_wizard.connect_profiles.share_stuff')

%p
  %strong=t('signup_wizard.connect_profiles.trust_us')
